* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*lANDING*/

.Navi-FlexWrap {
  display: flex;
  background-color: steelblue;
  height: 16.5vh;
  width: 100%;
  z-index: 0;
}

.Navi-FlexLgo {
  display: flex;
  background-color: black;
  height: 13vh;
  width: 100%;
  justify-content: center;
}

.Navi-FlexBtn {
  display: flex;
  background-color: black;
  width: 100%;
  height: 3.5vh;
  position: absolute;
  top: 13vh;
  justify-content: space-evenly;
  border-bottom: 2px white solid;
}

.Navi-FlexBtn > button {
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border-color: transparent;
}

.NavBtn:hover {
  text-decoration: underline;
}

.UpBodyBox {
  background-color: black;
  height: 45vh;
  opacity: 100%;
  justify-content: center;
}

.LowBodyBox {
  background-color: white;
  height: 38.5vh;
  z-index: 2;
}

.MarmolBlanco {
  width: 100%;
  height: 38.5vh;
  z-index: 1;
}

.MarmolNegro {
  width: 100%;
  height: 45vh;
  z-index: 2;
}

.Text-1 {
  color: white;
  font-size: 50px;
}

.Text-2 {
  color: white;
  font-size: 70px;
}

.Text-3 {
  color: white;
  font-size: 100px;
}

.Text-4 {
  color: black;
  font-size: 90px;
}

.TextWrapper {
  display: flex;
  width: 50%;
  height: 60vh;
  background-color: transparent;
  position: absolute;
  bottom: 10%;
  left: 6%;
  flex-direction: column;
  justify-content: flex-start;
}

.TextWrapper > h3 {
  margin: 15px;
}

.ImgWrapper {
  display: flex;
  width: 30%;
  height: 50vh;
  background-color: transparent;
  position: absolute;
  bottom: 17.9%;
  left: 59%;
}

/*Quienes somos*/

.BackgroundQuienes {
  position: relative;
  width: 100%;
}

.TranspQuienes {
  width: 100%;
  height: 100vh;
  background-color: #011f35;
  position: absolute;
  z-index: 1;
  opacity: 40%;
}

.ImgQuienes {
  width: 100%;
  height: 100vh;
}

.TextQuieContainer {
  position: absolute;
  bottom: 80%;
  left: 10%;
  z-index: 2;
}

.NumQuienes {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5vw;
  z-index: 2;
}

.QuienesSomos {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3.8vw;
  border-bottom: white solid 2px;
}

.QuienesNav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  height: 10vh;
  bottom: 0%;
  background-color: black;
  opacity: 70%;
  z-index: 4;
}

.QuienesNav > button {
  background-color: transparent;
  color: white;
  border: transparent;
  font-size: 20px;
}

.QuienesNav > button:hover {
  text-decoration: underline;
}

/*Quienes parte2*/

.QuienesTextBackground {
  width: 100%;
  height: 90vh;
  position: relative;
  z-index: 1;
}

.IsotipoQuienes {
  position: absolute;
  width: 720px;
  height: 770px;
  left: 33%;
  bottom: 5%;
  z-index: 0;
}

.QuienesWrapper {
  position: absolute;
  width: 100%;
  height: 65vh;
  bottom: 12%;
  z-index: 1;
}

.QuienesContainer1 {
  position: absolute;
  width: 20%;
  height: 55vh;
  background-color: black;
  opacity: 50%;
  left: 4%;
  bottom: 10%;
  z-index: 2;
  display: flex;
}

.QuienesContainer2 {
  position: absolute;
  width: 20%;
  height: 55vh;
  background-color: black;
  opacity: 25%;
  left: 28%;
  bottom: 10%;
}

.QuienesContainer3 {
  position: absolute;
  width: 20%;
  height: 55vh;
  background-color: black;
  opacity: 25%;
  left: 52%;
  bottom: 10%;
}

.QuienesContainer4 {
  position: absolute;
  width: 20%;
  height: 55vh;
  background-color: black;
  opacity: 25%;
  left: 76%;
  bottom: 10%;
}
.prueba {
  width: 100%;
  height: 200vh;
}

.TextQuienes {
  position: absolute;
  color: white;
  opacity: 100%;
  font-size: 50px;
  z-index: 3;
}

/*Blog*/

.Blog {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.BlogMarmol {
  position: absolute;
  width: 100%;
  height: 45vh;
}

.BlogTextContainer {
  position: absolute;
  bottom: 80%;
  left: 10%;
  background-color: transparent;
}

.NumBlog {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5vw;
  color: white;
}

.TitleBlog {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3.8vw;
  border-bottom: white solid 2px;
}

.Contenedor1 {
  position: absolute;
  width: 60vh;
  height: 55vh;
  background-color: blue;
  top: 25%;
  left: 15%;
}

.Contenedor2 {
  position: absolute;
  width: 60vh;
  height: 55vh;
  background-color: red;
  top: 35%;
  left: 55%;
}

.LeerMas1 {
  position: absolute;
  width: 30vh;
  height: 5vh;
  background-color: transparent;
  left: 22.5%;
  top: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LeerMas2 {
  position: absolute;
  width: 30vh;
  height: 5vh;
  background-color: transparent;
  left: 62.5%;
  top: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Leer {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Leer:hover {
  text-decoration: underline;
}

/*Redes*/

.RedesBackground {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.TextRedContainer {
  position: absolute;
  bottom: 80%;
  left: 10%;
  background-color: transparent;
}

.NumRed {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5vw;
  color: black;
}

.Redes {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3.8vw;
  border-bottom: black solid 2px;
}

.RedesIsoCont {
  position: absolute;
  width: 55vh;
  height: 60vh;
  background-color: transparent;
  bottom: 10%;
  left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.RedesIso {
  position: absolute;
  width: 65vh;
  height: 70vh;
}

.RedesContainer {
  position: absolute;
  width: 80vh;
  height: 65vh;
  background-color: transparent;
  left: 50%;
  bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.RedesCont {
  width: 35vh;
  height: 30vh;
  background-color: black;
  border: black solid 3px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.RedesCont>h5 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5vw;
  position: relative;
  bottom: -35%;
  left: -17%; 
}

.RedesCont>img{
  bottom:20%;
  position:relative;
  left: 30%;
}

.facebooklogo{
  
  width: 100px;
  height: 100px;
}

.instagramlogo{
  width: 110px;
  height: 110px;
}

 .youtubelogo{
  width: 130px;
  height: 90px;
}

 .tiktoklogo{
  width: 100px;
  height: 100px;
} 