.tend-grid {
  display: grid;
  grid-template-rows: 16vmax 7vmax 53vmax 53vmax 40vmax;
  grid-gap: 0vw;
}
.fond {
  grid-row: 3;
  width: 98vw;
}
.tend {
  grid-row: 1;
  z-index: 0;
}
.testim {
  z-index: 0;
  height: 35vmax;
  background-image: url("./Fotos/MarmolNegativo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.endBar {
  background-image: url("./Fotos/Marmol.jpg");
  background-position: center;
  height: 30vmax;
  color: white;
  text-align: center;
  font-size: 1.3vmax;
  z-index: 0;
}
.filt {
  color: white;
  height: 58vmax;
  background-image: url("./Fotos/FondoBonito.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.catalogocompleto{
  text-decoration: none;
  color: white;
}

.contact {
  color: black;
  height: 55vmax;
  background-image: url("./Fotos/MarmolNegativo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.fondo1 {
  height: 53vmax;
  background-image: url("./Fotos/Marmol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
  width: 100vw;
}
.fondo2 {
  height: 53vmax;
  background-image: url("./Fotos/MarmolNegativo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
  width: 100vw;
}
.fondo3 {
  height: 40vmax;
  background-image: url("./Fotos/Marmol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
  width: 100vw;
}
.titulo-flex {
  padding-top: 5vmax;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  z-index: 2;
}
.title {
  font-size: 3.8vw;
  font-family: Calibri;
  font-weight: 400;
  margin: 0%;
  padding-left: 4.2vw;
  padding-right: 4vw;
}
.numero {
  font-size: 1.5vw;
  font-family: Arial;
  font-weight: lighter;
  margin: 0%;
  padding-left: 4.2vw;
}
.linea {
  color: gold;
  margin: 0%;
  margin-top: 0.7vw;
  margin-bottom: 3.8vw;
}
.tendencias-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
}
.fototendencias1 {
  filter: grayscale();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 78vw;
  height: 43vw;
  margin-left: 22vw;
  background-image: url("./Fotos/foto1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  justify-content: center;
  transition-property: background-size;
  transition-duration: 1s;
}
.fototendencias2 {
  filter: grayscale();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 78vw;
  height: 43vw;
  margin-right: 22vw;
  background-image: url("./Fotos/foto2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition-property: background-size;
  transition-duration: 1s;
}
.fototendencias3 {
  filter: grayscale();
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 78.5vw;
  height: 43vw;
  margin-left: 21vw;
  background-image: url("./Fotos/foto3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition-property: background-size;
  transition-duration: 1s;
}
.vacioHor {
  width: 100%;
  height: 8vw;
  margin: 0%;
}
.infoD {
  height: 7.5vmax;
  width: 0%;
  margin-top: 33vw;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  display: flex;
  font-family: Helvetica;
  z-index: 1;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transition-property: width, opacity;
  transition-duration: 1s, 1.5s;
  transition-delay: 0s, 0.5s;
}
.logo {
  height: 7.5vmax;
  margin-top: 33vw;
  background-color: gainsboro;
}
.fototendencias1:hover > .infoD {
  width: 85%;
  opacity: 1;
}
.fototendencias1:hover > .infoD > .boton {
  display: block;
}
.fototendencias1:hover > .infoD > .colonia {
  display: block;
}
.fototendencias1:hover > .infoD > .precio {
  display: block;
}
.fototendencias1:hover > .infoD > .info {
  display: block;
}
.fototendencias1:hover {
  filter: none;
  background-size: 110%;
  z-index: 0;
}
.boton {
  display: none;
  font-size: 0.7vmax;
  width: 5vmax;
  height: 4vh;
  margin-left: -2vmax;
  margin-right: -4vmax;
}
.colonia {
  display: none;
  font-size: 3vmax;
  margin-left: -4vw;
}
.precio {
  display: none;
  font-size: 2vmax;
}
.info {
  display: none;
  font-size: 1.5vmax;
}
.fototendencias2:hover > .infoD {
  width: 85%;
  opacity: 1;
}
.fototendencias2:hover > .infoD > .boton {
  display: block;
}
.fototendencias2:hover > .infoD > .colonia {
  display: block;
}
.fototendencias2:hover > .infoD > .precio {
  display: block;
}
.fototendencias2:hover > .infoD > .info {
  display: block;
}
.fototendencias2:hover {
  filter: none;
  background-size: 110%;
  z-index: 0;
}
.fototendencias3:hover > .infoD {
  width: 85%;
  opacity: 1;
}
.fototendencias3:hover > .infoD > .boton {
  display: block;
}
.fototendencias3:hover > .infoD > .colonia {
  display: block;
}
.fototendencias3:hover > .infoD > .precio {
  display: block;
}
.fototendencias3:hover > .infoD > .info {
  display: block;
}
.fototendencias3:hover {
  filter: none;
  background-size: 110%;
  z-index: 0;
}
.boton:hover {
  background-color: gray;
}
.filt-flex {
  display: flex;
  justify-content: flex-end;
}
.filtText {
  width: 60%;
  font-family: Helvetica;
  text-align: center;
}
.filt-text1 {
  margin-top: 3vmax;
  margin-left: 8vmax;
  margin-right: 8vmax;
  font-size: 2.3vw;
}
.filt-text2 {
  margin-top: 2vmax;
  font-size: 5vw;
}
.filt-text3 {
  margin-left: 5vmax;
  margin-right: 5vmax;
  font-size: 3.3vw;
}
.contAg {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 2vmax;
  margin-top: 3vmax;
  width: 15vmax;
  height: 6vmax;
}
.filtBox {
  height: 24.5vmax;
  z-index: 2;
  display: grid;
  grid-template-columns: 14vmax 14vmax 14vmax 1.79vmax;
  grid-template-rows: 5vmax 19.5vmax;
  grid-gap: 0vw;
}
.bot-comp {
  grid-column: 1;
  height: 70%;
  width: 80%;
  align-self: end;
  justify-self: center;
  font-size: 1.8vmax;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 5px black;
  background-color: black;
  color: white;
}
.bot-vent {
  grid-column: 3;
  height: 70%;
  width: 80%;
  align-self: end;
  justify-self: center;
  font-size: 1.8vmax;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 5px black;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.bot-rent {
  grid-column: 2;
  height: 70%;
  width: 80%;
  align-self: end;
  justify-self: center;
  font-size: 1.8vmax;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 5px black;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.caja {
  grid-column: 1/5;
  grid-row: 2;
  background-color: black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: grid;
  grid-template-columns: 21vmax 21vmax 1.79vmax;
  grid-template-rows: 4.875vmax 4.875vmax 4.875vmax 4.875vmax;
}
.bot-comp:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}
.bot-rent:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}
.bot-vent:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}
.bot-comp:active:after {
  background-color: black;
  color: white;
}
.bot-rent:active:after {
  background-color: black;
  color: white;
}
.select {
  grid-column: 1;
  grid-row: 2;
  border-radius: 5px;
  height: 4vmax;
  width: 80%;
  justify-self: center;
  font-size: 2vmax;
}
.busc {
  grid-column: 1/3;
  grid-row: 3;
  height: 3vmax;
  width: 75%;
  font-size: 1.5vmax;
  text-align: center;
  align-self: flex-end;
  margin-left: 2vmax;
}
.advSer {
  grid-column: 1;
  grid-row: 4;
  font-size: 1.5vmax;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 5%;
}
.catConsul {
  grid-column: 2;
  grid-row: 4;
  font-size: 1.5vmax;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 5%;
}
.frase {
  font-family: Helvetica;
  font-size: 2vmax;
  text-align: center;
  width: 50vmax;
  margin-left: 25%;
}
.autor {
  font-family: Helvetica;
  font-size: 2vmax;
  text-align: center;
  width: 50vmax;
  margin-left: 25%;
  margin-top: 4.5vmax;
}
.cont-grid {
  display: grid;
  grid-template-columns: 44% 12% 44%;
  grid-template-rows: 10vmax 10vmax 10vmax 5vmax;
  margin-left: 12%;
  margin-right: 12%;
}
.nombre {
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid black;
  font-size: 2.3vmax;
  margin-bottom: 2vmax;
}
.apellidos {
  grid-column: 3;
  grid-row: 1;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid black;
  font-size: 2.3vmax;
  margin-bottom: 2vmax;
}
.correo {
  grid-column: 1;
  grid-row: 2;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid black;
  font-size: 2.3vmax;
  margin-bottom: 2vmax;
}
.telefono {
  grid-column: 3;
  grid-row: 2;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid black;
  font-size: 2.3vmax;
  margin-bottom: 2vmax;
}
.mensaje {
  grid-column: 1/4;
  grid-row: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 2vmax;
  box-sizing: border-box;
  resize: none;
}
.mensaje:focus,
.telefono:focus,
.nombre:focus,
.apellidos:focus,
.correo:focus {
  outline: none;
}
.enviar {
  grid-column: 2;
  grid-row: 4;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 2vmax;
}
.endFlex {
  display: flex;
  height: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  font-size: 1.5vmax;
}
.endCol1 {
  width: 31%;
  margin-left: 2%;
}
.endCol2 {
  width: 33%;
}
.endCol3 {
  width: 34%;
}
.endLogo {
  filter: invert(1);
  width: 100%;
  height: auto;
  margin-top: 5%;
}
.oficina {
  font-family: Helvetica;
  font-size: 1.5vmax;
  margin-left: 3%;
  width: 70%;
}
.menu {
  justify-content: center;
  margin-top: 25%;
  margin-left: 30%;
  font-size: 1.5vmax;
}
.menu li {
  margin: 5%;
}
.iconos {
  display: flex;
  height: 15%;
  width: 70%;
  justify-content: space-around;
  margin-top: 5%;
  border-radius: 5px;
  overflow: hidden;
}
.endTitle {
  font-size: 2vmax;
  margin-top: 10%;
}
.mail {
  font-size: 1.3vmax;
  text-decoration: underline white;
  margin-top: 3%;
}

/*CSS Mariano*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*lANDING*/

.Navi-FlexWrap {
  display: flex;
  background-color: black;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 10;
  /* margin-top: -100px; */
}

.Navi-FlexLgo {
  position: relative;
  display: flex;
  background-color: black;
  height: 70px;
  width: 100vw;
  justify-content: center;
}

.Navi-FlexBtn {
  display: flex;
  background-color: black;
  width: 100%;
  height: 30px;
  position: absolute;
  top: 70px;
  justify-content: space-evenly;
  border-bottom: 2px white solid;
}



/*Dropdown*/

.DropBtnProp {
  background-color: transparent;
  color: white;
  padding: 0px;
  margin: 0vmin;
  font-size: 1.45vmax;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
}

.DropProp {
  position: relative;
  width:15%;
  text-align: center;
  display: inline-block;
  z-index: 10;
}

.DropdownSubProp {
  display: none;
  position: relative;
  background-color: black;
  min-width: 1vmin;
  z-index: 10;
}

.DropdownSubProp a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 1.2vmax;
  padding: 1vmax;
  text-decoration: none;
  display: block;
  z-index: 10;
}

.DropdownSubProp a:hover {
  text-decoration: underline;
}

.DropProp:hover .DropdownSubProp {
  display: block;
}

.DropProp:hover .DropBtnProp {
  background-color: white;
  color: black;
}

/*Landing*/

.LandingBody {
  width: 100%;
  height: 49.5vmax;
  background-image: url(./images/fondolanding.png);
  background-position: center;
  background-repeat: no-repeat;
  /* margin-top:100px; */
  background-size: cover;
}

.TextoLanding {
  width: 37vmax;
  height: 15vmax;
  background-color: transparent;
  position: absolute;
  margin-top: 12.5vmax;
  margin-left: 7.2vmax;
}

.TextoLandingAbajo {
  width: 80vmin;
  height: 11.2vmin;
  background-color: transparent;
  position: absolute;
  margin-top: 28vmax;
  margin-left: 7.2vmax;
}

.Text1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3.3vmax;
  color: white;
}

.Text2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4.5vmax;
  color: white;
}

.Text3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5.5vmax;
  color: white;
}

.Text4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4.5vmax;
  color: black;
}

.Isotipo {
  width: 24vmax;
  height: 25.9vmax;
  position: absolute;
  background-color: transparent;
  margin-top: 11.92vmax;
  padding: 10vmin;
  margin-left: 60%;
  background: url(./images/isotipo.png);
  background-position: center;
  background-size: cover;
}

/*Quienes somos*/

.BackgroundQuienes {
  position: relative;
  width: 98vw;
}

.TranspQuienes {
  width: 100vw;
  height: 100%;
  background-color: #011f35;
  position: absolute;
  z-index: 1;
  opacity: 40%;
}

.ImgQuienes {
  width: 100vw;
  height: 100%;
}

.TextQuieContainer {
  position: absolute;
  bottom: 80%;
  left: 10%;
  z-index: 2;
}

.NumQuienes {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2vw;
  z-index: 2;
}

.QuienesSomos {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3vw;
  border-bottom: white solid 2px;
}

.QuienesNav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 15%;
  bottom: 0.1vmin;
  background-color: black;
  opacity: 70%;
  z-index: 4;
}

.QuienesNav > button {
  background-color: transparent;
  color: white;
  border: transparent;
  font-size: 1.5vmax;
}

.QuienesNav > button:hover {
  text-decoration: underline;
}

/*Quienes parte2*/

.QuienesTextBackground {
  position: relative;
  display: flex;
  width: 100%;
  height: 80vmin;
  background-color: white;
  z-index: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.QuienesIsotipo {
  position: absolute;
  width: 50vmin;
  height: 50vmin;
  background-image: url(./images/isotipoblanco.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.BoxWrapperQuienes {
  position: relative;
  display: flex;
  width: 100%;
  height: 80vmin;
  z-index: 3;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.Box1 {
  width: 22%;
  height: 50vmin;
  border: 1px black solid;
  background-color: black;
  opacity: 20%;
}
.Box2 {
  width: 22%;
  height: 50vmin;
  border: 1px black solid;
  background-color: black;
  opacity: 20%;
}
.Box3 {
  width: 22%;
  height: 50vmin;
  border: 1px black solid;
  background-color: black;
  opacity: 20%;
}
.Box4 {
  width: 22%;
  height: 50vmin;
  border: 1px black solid;
  background-color: black;
  opacity: 20%;
}

/*Blog*/

.Blog {
  position: relative;
  width: 100%;
  height: 100vmin;
  background-color: white;
}

.BlogBack {
  width: 100%;
  height: 50vmin;
  background-image: url(./images/marmolnegro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.BlogMarmol {
  width: 100vw;
  height: 50vmin;
  background: url(./images/marmolnegro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Numero {
  font-size: 1.5vw;
  font-family: Arial;
  font-weight: lighter;
  margin: 0%;
  padding-left: 4.2vw;
  color: white;
}

.TituloBlog {
  font-size: 3.8vw;
  font-family: Calibri;
  font-weight: 400;
  margin: 0%;
  padding-left: 4.2vw;
  padding-right: 4vw;
  color: white;
}

.LineaBlog {
  color: white;
  margin: 0%;
  margin-top: 0.7vw;
  margin-bottom: 3.8vw;
}

.TituloFlex {
  padding-top: 5vmax;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
}

.Numero {
  font-size: 1.5vw;
  font-family: Arial;
  font-weight: lighter;
  margin: 0%;
  padding-left: 4.2vw;
  color: white;
}

.TituloBlog {
  font-size: 3.8vw;
  font-family: Calibri;
  font-weight: 400;
  margin: 0%;
  padding-left: 4.2vw;
  padding-right: 4vw;
  color: white;
}

.LineaBlog {
  color: white;
  margin: 0%;
  margin-top: 0.7vw;
  margin-bottom: 3.8vw;
}

.BlogWrapper {
  width: 100vw;
  height: 60vmin;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.EntradaBlog {
  width: 60vmin;
  height: 50vmin;
  background-color: blue;
  border: black solid 1px;
}

.EntradaBlog2 {
  width: 60vmin;
  height: 50vmin;
  background-color: blue;
  border: black solid 1px;
}


/*Redes*/

.RedesBackground {
  position: relative;
  width: 100vw;
  height: 100vmin;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.RedesDivision {
  width: 100vw;
  height: 70vmin;
  background-color: transparent;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10vmin;
}

.ContenedorIsotipo {
  width: 60vmin;
  height: 60vmin;
  background: url(./images/isotipo.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 10vmin;
  margin-right: 10vmin;
}

.ContenedorRedes {
  width: 85vmin;
  height: 66vmin;
  margin-bottom: 10vmin;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
}

.TituloFlex2 {
  padding-top: 5vmax;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
  margin-top: 10vmin;
}

.NumeroRedes {
  font-size: 1.5vw;
  font-family: Arial;
  font-weight: lighter;
  margin: 0%;
  padding-left: 4.2vw;
  color: black;
}

.TituloRedes {
  font-size: 3.8vw;
  font-family: Calibri;
  font-weight: 400;
  margin: 0%;
  padding-left: 4.2vw;
  padding-right: 4vw;
  color: black;
}

.LineaRedes {
  color: black;
  margin: 0%;
  margin-top: 0.7vw;
  margin-bottom: 3.8vw;
}

.RedesCont {
  height: 30vmin;
  width: 35vmin;
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
}

.RedesSociales {
  text-decoration: none;
  color: white;
  margin-bottom: 5vmin;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3vmin;
}

.facebooklogo {
  margin-top: 4vmin;
  width: 12vmin;
  height: 12vmin;
  filter: grayscale(100%);
}

.instagramlogo {
  margin-top: 4vmin;
  width: 13vmin;
  height: 13vmin;
  filter: grayscale(100%);
}

.youtubelogo {
  margin-top: 4vmin;
  width: 15vmin;
  height: 11vmin;
  filter: grayscale(100%);
}

.tiktoklogo {
  margin-top: 4vmin;
  width: 12vmin;
  height: 12vmin;
  filter: grayscale(100%);
}

.facebooklogo:hover {
  width: 14vmin;
  height: 14vmin;
  filter: grayscale(0%);
}

.instagramlogo:hover {
  width: 15vmin;
  height: 15vmin;
  filter: grayscale(0%);
}

.youtubelogo:hover {
  width: 17vmin;
  height: 13vmin;
  filter: grayscale(0%);
}

.tiktoklogo:hover {
  width: 14vmin;
  height: 14vmin;
  filter: grayscale(0%);
}

/*Fer*/

/* Estilos generales
=======================*/
#envolvente {
  max-width: 1920px;
  min-width: 320px;
  background-size: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Estilos alineaciones
=======================*/
.centro {
  text-align: center;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

p {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

/* Estilos figures
=======================*/
figure {
  display: block;
  margin: 0;
  width: 100%;
  overflow: auto;
  float: left;
  padding-top: 60px;
  padding-left: 295px;
  padding-bottom: 60px;
}

/* Estilos sections
=======================*/
/*SECTION SUBMENU*/
.SUBMENU {
  position: relative;
  height: 50vmin;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./fondo/city.png);
}
.SubmenuFlex {
  position: absolute;
  width: 100%;
  height: 15%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 35vmin;
}

.SubmenuFlex > a{
  color: white;
  font-size: 1.5vmax;
  text-decoration: none;
}


/*SECTION MONROY*/

.MONROY {
  position: relative;
  display: inline-table;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: url(./fondo/marble_white.jpg);
}


.MONROY {
  text-align: center;
  color: white;
}
.MONROY h2 {
  margin-top: 80px;
  width: 1110px;
  text-align: left;
  font-size: 62px;
  font-weight: normal;
  text-shadow: 5px 5px 10px #333;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-left: 64px;
  margin-bottom: 120px;
}
.light {
  font-weight: normal;
  font-size: 40px;
}
.MONROY h3 {
  font-weight: normal;
  margin: 0px;
  text-align: left;
  font-size: 40px;
  text-shadow: 3px 3px 5px white;
  padding-left: 164px;
  float: left;
}
.MONROY p {
  font-size: 20px;
  width: 573px;
  padding-left: 164px;
  float: left;
}

/* Estilos figcaption
=======================*/
.MONROY div {
  background-image: url(./fondo/marble_black.jpg);
  color: white;
  font-size: 62px;
}

/* Estilos figure
=======================*/
.MONROY img {
  float: left;
  width: 650px;
}

/*SECTION EXCELENTE*/

.EXCELENTE {
  position: relative;
  display: inline-table;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: url(./fondo/marble_white.jpg);
}
.EXCELENTE h3 {
  font-weight: normal;
  margin: 0px;
  text-align: left;
  font-size: 40px;
  text-shadow: 3px 3px 5px black;
  float: left;
}
.EXCELENTE p {
  font-size: 20px;
  width: 573px;
  float: right;
  padding-right: 124px;
}

/* Estilos figure
=======================*/
.EXCELENTE img {
  float: right;
  width: 650px;
  padding-right: 573px;
}

/*Galeria*/

.Galeria{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
}

.Item{
  width: 32vw;
}

.BackCatBlanco1{
  width: 100%;
  height: 10vw;
  background: url(./images/marmolblanco.jpg);
}

.BackCatNegro1{
  width: 100%;
  height: 10vw;
  background: url(./images/marmolnegro.jpg);
}


/*Media Queries*/

/*Ipad Pro*/
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /*Tendencias*/
  .colonia {
    font-size: 20px;
  }

  .precio {
    font-size: 20px;
  }

  .info {
    font-size: 14.5px;
  }

  .boton {
    font-size: 16px;
  }

  .boton {
    width: 6vmax;
    height: 5vh;
  }

  .tend-grid {
    grid-template-rows: 16vmax 7vmax 53vmax 53vmax 35vmax;
  }

  .fondo3 {
    height: 35vmax;
  }

  /*Podemos ayudar*/
  .filt {
    height: 50vmax;
  }

  .filt-text1 {
    margin-top: 2vmax;
    margin-left: 4vmax;
    margin-right: 4vmax;
    font-size: 2.5vw;
  }

  .filt-text2 {
    margin-top: 1vmax;
    font-size: 42px;
  }

  .filt-text3 {
    margin-left: 5vmax;
    margin-right: 5vmax;
    font-size: 25px;
    margin-top: 1vmin;
  }

  .contAg {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 2vmax;
    margin-top: 3vmax;
    width: 15vmax;
    height: 6vmax;
  }

  /*Testimonio*/

  .frase {
    font-family: Helvetica;
    font-size: 2vmax;
    text-align: center;
    width: 50vmax;
    margin: 0% 25%;
  }

  /*Blog*/
  .Blog {
    height: 75vmin;
  }

  .EntradaBlog2 {
    display: none;
  }

  /*Nuestras Redes*/
  .ContenedorIsotipo {
    display: none;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /*Tendencias*/
  .colonia {
    font-size: 20px;
  }

  .precio {
    font-size: 20px;
  }

  .info {
    font-size: 14.5px;
  }

  .boton {
    font-size: 16px;
  }

  .boton {
    width: 6vmax;
    height: 5vh;
  }

  .tend-grid {
    grid-template-rows: 16vmax 7vmax 53vmax 53vmax 10vmax;
  }

  .fondo3 {
    height: 10vmax;
  }

  /*Podemos ayudar*/
  .filt {
    height: 50vmax;
  }

  .filt-text1 {
    margin-top: 2vmax;
    margin-left: 4vmax;
    margin-right: 4vmax;
    font-size: 2.5vw;
  }

  .filt-text2 {
    margin-top: 1vmax;
    font-size: 42px;
  }

  .filt-text3 {
    margin-left: 5vmax;
    margin-right: 5vmax;
    font-size: 25px;
    margin-top: 1vmin;
  }

  .contAg {
    width: 15vmax;
    height: 6vmax;
  }

  /*Testimonio*/

  .frase {
    font-family: Helvetica;
    font-size: 2vmax;
    text-align: center;
    width: 50vmax;
    margin: 2% 17%;
  }
  .autor {
    margin-left: 17%;
  }

  /*Blog*/
  .Blog {
    height: 75vmin;
  }

  .EntradaBlog2 {
    display: none;
  }

  /*Nuestras Redes*/
  .ContenedorIsotipo {
    display: none;
  }
}

/*Ipad*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /*Tendencias*/
  .colonia {
    font-size: 20px;
  }

  .precio {
    font-size: 20px;
  }

  .info {
    font-size: 14.5px;
  }

  .boton {
    font-size: 16px;
  }

  .boton {
    width: 6vmax;
    height: 5vh;
  }

  .tend-grid {
    grid-template-rows: 16vmax 7vmax 53vmax 53vmax 15vmax;
  }

  .fondo3 {
    height: 15vmax;
  }

  /*Podemos ayudar*/
  .filt {
    height: 50vmax;
  }

  .filt-text1 {
    margin-top: 2vmax;
    margin-left: 4vmax;
    margin-right: 4vmax;
    font-size: 2.5vw;
  }

  .filt-text2 {
    margin-top: 1vmax;
    font-size: 42px;
  }

  .filt-text3 {
    margin-left: 5vmax;
    margin-right: 5vmax;
    font-size: 25px;
    margin-top: 1vmin;
  }

  .contAg {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 2vmax;
    margin-top: 3vmax;
    width: 15vmax;
    height: 6vmax;
  }

  /*Testimonio*/

  .frase {
    font-family: Helvetica;
    font-size: 2vmax;
    text-align: center;
    width: 50vmax;
    margin: 0% 17%;
  }
  .autor {
    margin-left: 17%;
  }

  /*Blog*/
  .Blog {
    height: 75vmin;
  }

  .EntradaBlog2 {
    display: none;
  }

  /*Nuestras Redes*/
  .ContenedorIsotipo {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /*Tendencias*/
  .colonia {
    font-size: 20px;
  }

  .precio {
    font-size: 20px;
  }

  .info {
    font-size: 14.5px;
  }

  .boton {
    font-size: 16px;
  }

  .boton {
    width: 6vmax;
    height: 5vh;
  }

  .tend-grid {
    grid-template-rows: 16vmax 7vmax 53vmax 53vmax 35vmax;
  }

  .fondo3 {
    height: 35vmax;
  }

  /*Podemos ayudar*/
  .filt {
    height: 50vmax;
  }

  .filt-text1 {
    margin-top: 2vmax;
    margin-left: 4vmax;
    margin-right: 4vmax;
    font-size: 2.5vw;
  }

  .filt-text2 {
    margin-top: 1vmax;
    font-size: 42px;
  }

  .filt-text3 {
    margin-left: 5vmax;
    margin-right: 5vmax;
    font-size: 25px;
    margin-top: 1vmin;
  }

  .contAg {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 2vmax;
    margin-top: 3vmax;
    width: 15vmax;
    height: 6vmax;
  }

  /*Testimonio*/

  .frase {
    font-family: Helvetica;
    font-size: 2vmax;
    text-align: center;
    width: 50vmax;
    margin: 0% 24%;
  }
  .autor {
    margin-left: 24%;
  }

  /*Blog*/
  .Blog {
    height: 75vmin;
  }

  .EntradaBlog2 {
    display: none;
  }

  /*Nuestras Redes*/
  .ContenedorIsotipo {
    display: none;
  }
}

/*Iphone X*/

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  /*Home*/
  .Isotipo {
    display: none;
  }

  .LandingBody {
    height: 67vmax;
  }
  .TextoLanding {
    margin-top: 21.5vmax;
  }
  .TextoLandingAbajo {
    margin-top: 37vmax;
  }

  /*Tendencias*/
  .logo {
    display: none;
  }

  .infoD {
    display: none;
  }

  /*Fondos*/
  .fondo1 {
    height: 20vmax;
  }
  .fondo2 {
    height: 20vmax;
  }

  .tend-grid {
    grid-template-rows: 16vmax 7vmax 12vmax 25vmax 25vmax;
  }

  .fondo3 {
    height: 25vmax;
  }

  /*Quienes somos*/

  .QuienesSomos {
    border-bottom: white solid 1px;
  }
  .QuienesNav > button {
    font-size: 8px;
  }

  /*Podemos ayudar*/
  .filt {
    height: 45vmax;
  }

  .filt-text1 {
    display: none;
  }

  .filt-text2 {
    display: none;
  }

  .filt-text3 {
    display: none;
  }

  .contAg {
    display: none;
  }

  /*Testimonio*/

  .frase {
    font-family: Helvetica;
    font-size: 2vmax;
    text-align: center;
    width: 26vmax;
    margin: 0% 22%;
  }
  .autor {
    margin-left: 24%;
  }

  /*Blog*/
  .Blog {
    height: 75vmin;
  }

  .EntradaBlog2 {
    display: none;
  }

  /*Nuestras Redes*/
  .ContenedorIsotipo {
    display: none;
  }

  .mail {
    display: none;
  }

  /*Footer*/
  .iconos {
    display: flex;
    height: 10%;
    width: 88%;
  }
}

/*celulares pequenos*/

@media only screen and (max-width: 700px) and (orientation: portrait) {
  /*Home*/
  .Isotipo {
    display: none;
  }

  .LandingBody {
    height: 67vmax;
  }
  .TextoLanding {
    margin-top: 21.5vmax;
  }
  .TextoLandingAbajo {
    margin-top: 37vmax;
  }

  /*Tendencias*/
  .logo {
    display: none;
  }

  .infoD {
    display: none;
  }

  /*Fondos*/
  .fondo1 {
    height: 20vmax;
  }
  .fondo2 {
    height: 20vmax;
  }

  .tend-grid {
    grid-template-rows: 16vmax 7vmax 12vmax 25vmax 35vmax;
  }

  .fondo3 {
    height: 35vmax;
  }

  /*Quienes somos*/

  .QuienesSomos {
    border-bottom: white solid 1px;
  }
  .QuienesNav > button {
    font-size: 8px;
  }

  /*Podemos ayudar*/
  .filt {
    height: 45vmax;
  }

  .filt-text1 {
    display: none;
  }

  .filt-text2 {
    display: none;
  }

  .filt-text3 {
    display: none;
  }

  .contAg {
    display: none;
  }

  /*Testimonio*/

  .frase {
    font-family: Helvetica;
    font-size: 2vmax;
    text-align: center;
    width: 26vmax;
    margin: 0% 22%;
  }
  .autor {
    margin-left: 24%;
  }

  /*Blog*/
  .Blog {
    height: 75vmin;
  }

  .EntradaBlog2 {
    display: none;
  }

  /*Nuestras Redes*/
  .ContenedorIsotipo {
    display: none;
  }

  .mail {
    display: none;
  }

  /*Footer*/
  .iconos {
    display: flex;
    height: 10%;
    width: 88%;
  }

  /*Conocenos*/
  .SubmenuFlex > a {
    color: white;
    font-size: 2.4vmin;
    text-decoration: none;
}
}
